body{
  background-image: url('./photos/tlo.jpg');
  background-size: cover;
  margin:0;
  padding:0;
  color:white;
}
.container{
  background-color: rgba(31, 31, 31, 0.7);
  width:100vw;
  min-height:100vh;
}
.menu{
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40vw;
  min-height:12vh;
  font-size: 2vw;
  color:rgb(27, 170, 175);
}
.button{
  cursor: pointer;
}
.aboutme{
  text-align:center;
  padding: 20vh 0 0 0;
  font-size: 2vw;
}
.technologies{
  width:55vw;
  margin-left:auto;
  margin-right: auto;
  padding-top:10vh;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height:70vh;
}
.techanme img{
  width:14vw;
  height:14vw;
  animation: rotate 5s infinite linear;
}
.techname h3{
  width:100%;
  text-align:center;
  margin: 2vh 0 0 0;
}

.projects{
  display:flex;
  justify-content: space-between;
  width:96vw;
  flex-wrap:wrap;
  margin: 5vh auto 0 auto;
  /* background-color:red; */
}
.project{
  display:flex;
  width:48vw;
  margin-bottom:6vh;
}
.prphoto{
  position:relative;
}
.prphoto:hover .link{
  display:flex;
}
.prphoto img{
  width:32vw;
  height:16vw;
}
.prdesc{
  width:15vw;
  margin-left:1vw;
}
.prdesc h2{
  margin:0;
}
.link{
  /* display:flex; */
  position:absolute;
  bottom:0;
  left:0;
  background-color:black;
  width:100%;
  display:none;
}
.link div{
  width:50%;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
